@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: #f6a524;
  --bgContainerColor: #fafafa;
  --bgLayoutColor: #fff;
  --contrastColor: #000;
  --linkColor: #000;
  --linkHoverColor: #656565;
  --linkActiveColor: #000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bgContainerColor: #0f0f0f;
    --bgLayoutColor: #000;
    --contrastColor: #fff;
    --linkColor: #fff;
    --linkHoverColor: #b2b2b2;
    --linkActiveColor: #fff;
  }
}
a {
  text-decoration: none;
  color: var(--linkColor);
  cursor: pointer;
}
a:hover {
  color: var(--linkHoverColor);
}
a:active {
  color: var(--linkActiveColor);
}
body,
html {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
* {
  -webkit-tap-highlight-color: transparent;
}
